button {
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

.NewItem {
  width: 900px;
  display: flex;
  margin: 20px auto;
  text-align: left;
  background-color: rgb(192, 226, 248);
  padding: 20px 15px;
  border-radius: 5px;
}

.NewItem > label > span,
.NewItem > label > input {
  display: block;
}

.NewItem > label {
  margin-right: 6px;
}

.NewItem > label > input,
.NewItem > label > textarea {
  margin-top: 5px;
  line-height: 1.5rem;
}

.NewItem > label > select {
  margin-top: 5px;
  height: 30px;
  width: 70px;
}

.Validation {
  color: red;
  margin-top: 3px;
  display: block;
}
