.App {
  max-width: 950px;
  margin: 20px auto;
}

button {
  height: 30px;
  background-color: beige;
}

.TodoTable,
th,
td {
  width: 100%;
  border: 1px gray solid;
  border-collapse: collapse;
}

.Fitwidth {
  padding: 2px 3px;
  white-space: nowrap;
}

.idxWidth {
  width: 40px;
  text-align: center;
}

.NewItem {
  display: flex;
  margin-top: 20px;
  text-align: left;
}

.NewItem > label > span,
.NewItem > label > input {
  display: block;
}

.NewItem > label {
  margin-right: 20px;
}

.NewItem > label > input {
  margin-top: 5px;
  line-height: 1.5rem;
}

.NewItem > label > select {
  margin-top: 5px;
  height: 30px;
  width: 70px;
}

h2 {
  display: block;
}
