.App {
  max-width: 950px;
  margin: 20px auto;
}

button {
  height: 30px;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

/** -----------------------------
 *    テーブル
    -----------------------------*/
.TodoTable,
th,
td {
  border: 1px gray solid;
  border-collapse: collapse;
}

.Idx {
  width: 30px;
  text-align: center;
}

.Title {
  width: 150px;
  padding: 2px 3px;
}

.Details {
  width: 250px;
}

.Status {
  width: 95px;
  text-align: center;
}

.Priority {
  width: 85px;
  text-align: center;
}

.Caret {
  width: 15px;
  height: 18px;
  font-size: 1rem;
  font-weight: 800;
  background-color: lightblue;
  outline: none;
  border: none;
  box-shadow: none;
  margin-top: -10px;
}

.BtnCell {
  width: 43px;
}

.NewItem {
  display: flex;
  margin-top: 20px;
  text-align: left;
}

.NewItem > label > span,
.NewItem > label > input {
  display: block;
}

.NewItem > label {
  margin-right: 10px;
}

.NewItem > label > input,
.NewItem > label > textarea {
  margin-top: 5px;
  line-height: 1.5rem;
}

.NewItem > label > select {
  margin-top: 5px;
  height: 30px;
  width: 70px;
}

.EditForm {
  display: flex;
  align-items: start;
}

h2 {
  display: block;
}

.Validation {
  color: red;
  margin-top: 3px;
  display: block;
}
